
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/assest/img/logo/header_logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="~/assest/css/base.css">
    <link rel="stylesheet" href="~/assest/css/grid.css">
    <link rel="stylesheet" href="~/assest/css/responsive.css">
    <link rel="stylesheet" href="~/assest/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/assest/font/fontawesome-free-6.1.2-web/css/all.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="left">
                <div class="nav">
                    <div class="nav_logo">
                        <a href="#"> <img src="../../assest/img/logo/logopaddy.png" alt="logo" style="background: #244cbb;"></a>
                    </div>
                </div>
                <ul class="nav_ul">
                    <li class="nav_li">
                        <a href="#">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-house"></i>
                            </div>
                            <div class="nav_li_title">
                                Trang chủ
                            </div>
                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","Users")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <div class="nav_li_title">
                                Trang người dùng
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("DSAdmin","Admin")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-blender-phone"></i>
                            </div>
                            <div class="nav_li_title">
                                Quản trị viên
                            </div>
                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","DonHang")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-truck-fast"></i>
                            </div>
                            <div class="nav_li_title">
                                Đơn đạt hàng
                            </div>
                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","ThuongHieu")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-trademark"></i>
                            </div>
                            <div class="nav_li_title">
                                Thương hiệu
                            </div>
                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","KhachHang")">
                            <div class="nav_li_icon">
                                <i class="fa-brands fa-dashcube"></i>
                            </div>
                            <div class="nav_li_title">
                                Khách hàng
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","Loai")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-bookmark"></i>
                            </div>
                            <div class="nav_li_title">
                                Loại sản phẩm
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","MauSac")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-brush"></i>
                            </div>
                            <div class="nav_li_title">
                                Màu sắc
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","KichThuoc")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-maximize"></i>
                            </div>
                            <div class="nav_li_title">
                                Kích thước
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","PhieuNhapKho")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-store"></i>
                            </div>
                            <div class="nav_li_title">
                                Kho sản phẩm
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","SanPham")">
                            <div class="nav_li_icon">
                                <i class="fa-brands fa-dropbox"></i>
                            </div>
                            <div class="nav_li_title">
                                Sản phẩm
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="#">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-image"></i>
                            </div>
                            <div class="nav_li_title">
                                Hình ảnh mô tả
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","AdminPQ")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-sitemap"></i>
                            </div>
                            <div class="nav_li_title">
                                Phân quyền
                            </div>

                        </a>
                    </li>
                    <li class="nav_li">
                        <a href="@Url.Action("Index","ThongKe")">
                            <div class="nav_li_icon">
                                <i class="fa-solid fa-bug"></i>
                            </div>
                            <div class="nav_li_title">
                                Thống kê
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="header">
                    <div class="header_left">
                        @ViewBag.Trang
                    </div>
                    <div class="header_right">
                        @{ var ad = @Session["Taikhoanadmin"] as WebPKthucung.Models.ADMIN;}
                        <span class="header_right_hello">Xin chào @ad.HOTEN</span>
                        <div class="header_right_img">
                            <img src="../../assest/img/ad_user/@ad.AVATAR" alt="">
                        </div>
                        <div class="header_right_img_expand">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-user"></i><a href="#">Xem thông tin cá nhân</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-envelope"></i><div>@ad.EMAIL</div>
                                </li>
                                <li>
                                    <i class="fa-solid fa-lock"></i><a href="#">Đổi mật khẩu</a>
                                </li>

                                <li class="header_right_img_expand_logout">
                                    <a href="@Url.Action("dangxuat","Admin")" style="color: white;">Đăng xuất</a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
                <div class="body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/assest/js/app.js"></script>
    <script src="~/assest/js/app1.js"></script>
</body>
</html>

