@model WebPKthucung.Models.KHANHHANG
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="detail_admin">
    <h1 class="Title_Admin_create_form">Thông tin tài khoản</h1>
    <div class="detai_admin_form">
        @if (Model.HINHANH != null)
        {
            <div class="detail_admin_left">
                <img src="~/assest/img/khach_hang/@Model.HINHANH" alt="">
            </div>
        }
        else
        {
            <div class="detail_admin_left">
                <img src="~/assest/img/khach_hang/images.jpg" alt="">
            </div>
        }

        <div class="detail_admin_right">
            <table class="Table_Details_Admin">
                <tr>
                    <td>Mã khách hàng: </td>
                    <td>@Model.MAKH</td>
                </tr>
                <tr>
                    <td>Họ tên Khách hàng:</td>
                    <td>@Model.HOTENKH</td>
                </tr>
                <tr>
                    <td>Số điện thoại :</td>
                    <td>@Model.DIENTHOAI</td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@ViewBag.diachi</td>
                </tr>

                <tr>
                    <td>Email :</td>
                    <td>@Model.EMAIL</td>
                </tr>
                <tr>
                    <td>Ngày sinh :</td>
                    <td>@Model.NGAYSINH </td>
                </tr>
            </table>

        </div>

    </div>
    <div class="button">
        <a href="@Url.Action("Edit","KhachHang",new {id = Model.MAKH})"><input type="submit" value="Chỉnh sửa" class="button_add_admin" /></a>
        <a href="@Url.Action("Index","KhachHang")"><input type="button" value="Quay lại" class="button_add_admin" /></a>
    </div>

</div>
