
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/assest/img/banner/banner (1).png" alt="Hình ảnh 1">
            </div>
            <div class="swiper-slide">
                <img src="~/assest/img/banner/banner (2).png" alt="Hình ảnh 2">
            </div>
            <div class="swiper-slide">
                <img src="~/assest/img/banner/banner (3).png" alt="Hình ảnh 3">
            </div>
            <div class="swiper-pagination">
                <div class="swiper-pagination_page">

                </div>
                <div class="swiper-pagination_page">

                </div>
                <div class="swiper-pagination_page">

                </div>
            </div>
        </div>

        <div class="swiper-button-prev" style="display: none;">

        </div>
        <div class="swiper-button-next" style="display: none;">

        </div>
    </div>
</div>
<div class="gioithieu">
    <div class="vanChuyen">
        <h6>Miễn Phí Vận Chuyển</h6>
        <p>Áp dụng cho đơn hàng từ 500K</p>
        <p>Hoả tốc 4h trong nội thành HCM</p>
    </div>
    <div class="vanChuyen">
        <h6>Hàng Chính Hãng</h6>
        <p>Hàng chính hãng</p>
        <p>Đổi trả hàng trong vòng 7 ngày</p>
    </div>
    <div class="vanChuyen">
        <h6>Thanh Toán Tiện Lợi</h6>
        <p>Thanh toán trực tuyến bằng Thẻ ATM, Thẻ tín</p>
        <p>dụng, Momo, Chuyển khoản</p>
    </div>
    <div class="vanChuyen">
        <h6>Hỗ trợ chuyên nghiệp</h6>
        <p>Hotline 0374 41 41 42.</p>
        <p>Tư vấn và hỗ trợ 7 ngày trong tuần</p>
    </div>
</div>
<div class="MuaThucCung">
    <h6>Mua sắm theo giống thú cưng</h6>
    <div class="img_thucung">
        <img src="~/assest/img/banner/dog_banner_1370x.png" alt="">
        <img src="~/assest/img/banner/cat_banner_1370x.png" alt="">
    </div>
</div>
<div class="boSuutap">
    <div class="boSuuTap_header">
        <h6></h6>
        <h6>Bộ Sưu Tập Nổi Bật</h6>
        <a href="" style="color: #234bbb">Xem tất cả</a>
    </div>
    <div class="boSuuTap_body">
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/collection_banner_pate_rc_kitten_570x.png" alt="" style="width: 200px; height: 200px;">
            <h6>Pate Cho Miu</h6>
        </a>
    </div>
    <div class="boSuuTap_body">
        <a href="#">
            <img src="~/assest/img/banner/hairball_510x.png" alt="" style="width: 320px; height: 320px;">
            <h6 style="color: #f6c518;">Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/hairball_510x.png" alt="" style="width: 320px; height: 320px;">
            <h6 style="color: #f6c518;">Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/hairball_510x.png" alt="" style="width: 320px; height: 320px;">
            <h6 style="color: #f6c518;">Pate Cho Miu</h6>
        </a>
        <a href="#">
            <img src="~/assest/img/banner/hairball_510x.png" alt="" style="width: 320px; height: 320px;">
            <h6 style="color: #f6c518;">Pate Cho Miu</h6>
        </a>
    </div>
    <div class="boSuutap">
        <div class="boSuuTap_header">
            <h6></h6>
            <h6>Được boss yêu thích</h6>
            <a href="@Url.Action("sanpham", "Users")" style="color: #234bbb">Xem tất cả</a>
        </div>
        <div class="boSuuTap_body">
            @foreach (var item in Model)
            {
                <div class="product_item">
                    <img src="~/assest/img/sanpham/@item.HINHANH" alt="">
                    @if (item.GIAMGIA)
                    {
                        <div class="chiTietSanPham_giamgia" style="top: 20px; left: 20px;">Giảm giá</div>
                    }
                    <div class="product_thuonghieu">
                        <h5>@item.TENTH</h5>
                    </div>
                    <div class="product_name">
                        <h5>@item.TENSP</h5>
                    </div>
                    <div class="product_price">
                        <h5> @String.Format("{0:0,0}", item.DONGIABAN) VNĐ</h5>
                    </div>
                    @if (item.SOLUONG != 0)
                    {
                        <button id="1" class="button_product" onclick="window.location.href='@Url.Action("ThemGiohang", "GioHang", new { @iMASP = item.MASP, @iGIAMGIA = item.GIAMGIA, @strURL = Request.Url.ToString() })'">Thêm vào giỏ hàng</button>
                    }
                    else
                    {
                        <button class="button_product">Hàng tạm thời hết</button>
                    }
                    <a class="xem_icon" href="@Url.Action("chitiet", "Users", new { id = item.MASP })">
                        <i class="fa-regular fa-eye"></i>
                    </a>
                </div>
            }
            
        </div>
    </div>
    <div class="divider" style="border-bottom: 3px solid black;">

    </div>
    <div class="MuaThucCung">
        <div class="MuaThucCung_header">
            <h6>1000+ Thương Hiệu Boss Thích</h6>
            <a href="@Url.Action("ThuongHieu", "Users")" style="color: #234bbb">Xem tất cả</a>
        </div>

        <div class="thuongHieu">
            @foreach (var item in ViewBag.ThuongHieu)
            {
                <a href="@Url.Action("SPTheothuonghieu",new { id = item.MATH })" style="margin-left: 50px">
                    <img src="@Url.Content("~/assest/img/thuong_hieu/" + item.LOGO)" alt="" style="width: 100%; height: 80px;">
                    <h6>
                        @item.TENTH
                    </h6>
                </a>
            }
            </div>


    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    // Lấy các phần tử cần thiết
// Lấy các phần tử cần thiết
const banner = document.querySelector('.banner');
const swiperContainer = banner.querySelector('.swiper-container');
const swiperWrapper = swiperContainer.querySelector('.swiper-wrapper');
const swiperSlides = swiperWrapper.querySelectorAll('.swiper-slide');
const prevButton = swiperContainer.querySelector('.swiper-button-prev');
const nextButton = swiperContainer.querySelector('.swiper-button-next');

// Thiếtlập SwiperJS
const swiper = new Swiper(swiperContainer, {
  loop: true,
  autoplay: {
    delay: 2000,
  },
});

// Xử lý sự kiện click vào nút prev
prevButton.addEventListener('click', () => {
  // Di chuyển đến slide trước đó
  swiper.slidePrev();

  // Cập nhật trạng thái các slide
  swiperSlides.forEach((slide) => {
    if (slide.classList.contains('swiper-slide-active')) {
      slide.classList.remove('swiper-slide-active');
    } else if (!slide.classList.contains('swiper-slide-duplicate')) {
      slide.classList.add('swiper-slide-active');
    }
  });
});
</script>

