@model WebPKthucung.Models.ADMIN
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="detail_admin">
    <h1 class="Title_Admin_create_form">Thông tin tài khoản</h1>
    <div class="detai_admin_form">
        <div class="detail_admin_left">
            <img src="~/assest/img/ad_user/@Model.AVATAR" alt="">
        </div>
        <div class="detail_admin_right">
            <table class="Table_Details_Admin">
                <tr>
                    <td>Mã Admin: </td>
                    <td>@Model.MAADMIN</td>
                </tr>
                <tr>
                    <td>Họ tên Admin:</td>
                    <td>@Model.HOTEN</td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Model.DIACHI</td>
                </tr>
                <tr>
                    <td>Số điện thoại :</td>
                    <td>@Model.DIENTHOAI</td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>@Model.EMAIL</td>
                </tr>
                <tr>
                    <td>Loại tài khoản :</td>
                    <td>@Model.LOAITKADMIN.TENLOAI</td>
                </tr>
            </table>

        </div>

    </div>
    <div class="button">
        <a href="@Url.Action("Edit","Admin",new {id = Model.MAADMIN})"><input type="submit" value="Chỉnh sửa" class="button_add_admin" /></a>
        <a href="@Url.Action("DSAdmin","Admin")"><input type="button" value="Quay lại" class="button_add_admin" /></a>
    </div>

</div>
